---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import Sektion2 from "../component/Sektion2.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.

const data = await fetch("https://inrchbadbkirfzkcebcg.supabase.co/rest/v1/Product", {
  method: "GET",
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlucmNoYmFkYmtpcmZ6a2NlYmNnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MjU5NzA4MjYsImV4cCI6MjA0MTU0NjgyNn0.mpSt_VfMJynts4yNhF_lHvJafqeHolxXL7wYKBacfjA",
  },
}).then((res) => res.json());

console.log(data);
---

<Layout>
  <Sektion2 />
  <h1></h1>
  <h2></h2>
  <h3></h3>
  <p></p>
</Layout>
