---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
<<<<<<< HEAD
=======
import CollageSingleview from "../components/CollageSingleview.astro";
>>>>>>> Singleview-Collage
import "../styles/global.css";
import Recommended from "../components/Recommended.astro";
---

<Layout>
  <Header />
  <h1>Singleview here</h1>
<<<<<<< HEAD
  <Recommended />
=======
  <CollageSingleview />
>>>>>>> Singleview-Collage
</Layout>
