---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import Recommended from "../components/Recommended.astro";
---

<Layout>
  <h1>Singleview here</h1>
  <Recommended></Recommended>
</Layout>
