---
import "../styles/global.css";
---

<footer class="footer-container">
    <div class="footer-content">
        <img src="/img/kerem.webp" alt="Kerem" class="footer-image">
        <div class="footer-text">
            <h3>About Pop-up Meyhane Copenhagen
                and the man behind the scene</h3>
            <p>In the heart of Copenhagen, a Turkish creator is sharing the soul of his culture through a unique meyhane pop-up. Born and raised in Turkey, he grew up with the tradition of gathering around tables filled with meze, raki, and lively conversations. Now, he’s bringing this experience to those who miss the warmth of home or are curious about Turkish culture.
                For him, the pop-up is a way to connect people—both Turkish expatriates and locals—through the flavors, music, and stories that define a meyhane. Every detail, from the authentic dishes to the convivial atmosphere, is crafted with care to reflect his heritage.</p>
                <div class="contact-box">
                    <p><strong>Contact us:</strong></p>
                    <p>(+45) 44 44 44 44</p>
                    <p> | Mon-Thurs: 10:00-16:00 | Fri-Sun: 12:00-14:00 |</p> 
                    <p><strong><a href="mailto:Hismailtocontact@gmail.com">Hismailtocontact@gmail.com</a></strong></p>
                </div>
        </div>
        <div class="footer-images">
            <img class="decorative-img.top-right" src="/img/graphics/blaablomstsvg.webp" alt="">
            <img class="" src="/img/graphics/blaasvgflaske.webp" alt="">
            <img class="decorative-img.top-left" src="/img/graphics/vindruesvg.webp" alt="">
        </div>
    </div>
</footer>

<style>

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4C6BA5; 
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    position: relative; 
    overflow: visible;
}

.footer-content {
    display: flex;
    max-width: 1200px;
    width: 100%;
    align-items: flex-start;
}

.footer-image {
    max-width: 40%; 
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 8px; 
}

.footer-text {
    max-width: 60%; 
    width: 100%;
    margin-top: 20px;
    padding: 60px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-text h3 {
    margin-bottom: 15px;
}

.footer-text p {
    line-height: 1.6;
    color: white;
}

.contact-box {
    margin-top: 20px;
    
    background-color: transparent;
}

.contact-box p {
    margin: 0;
    line-height: 1.6;
}

.contact-box a {
    color: white;
    text-decoration: none;
}

.contact-box a:hover {
    text-decoration: underline; 
}


</style>