---
import "../../styles/global.css";

import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import CollageSingleview from "../../components/CollageSingleview.astro";
import Recommended from "../../components/Recommended.astro";

export async function getStaticPaths() {
  const data = await fetch(
    "https://inrchbadbkirfzkcebcg.supabase.co/rest/v1/product?select=*",
    {
      method: "GET",
      headers: {
        apikey:
          "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlucmNoYmFkYmtpcmZ6a2NlYmNnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MjU5NzA4MjYsImV4cCI6MjA0MTU0NjgyNn0.mpSt_VfMJynts4yNhF_lHvJafqeHolxXL7wYKBacfjA",
      },
    }
  ).then((reponse) => reponse.json());
  return data.map((product) => {
    return {
      params: { product: product.slug },
      props: { myProduct: product },
    };
  });
}

const { myProduct } = Astro.props;
console.log(myProduct);
---

<Layout>
  <Header />
  <h1>Singleview here</h1>
  <img src=`/img/productlist/${myProduct.images}` alt="" />
  <p>{myProduct.slug}</p>
  <Recommended />
  <CollageSingleview />
</Layout>
