---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: fit-content;
  }
  body {
    width: 100dvw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);

    background-color: var(--Secondary_White);
  }
</style>
